# Ignore Git and GitHub metadata
.git
.github

# Python caches
**/__pycache__/
*.py[cod]

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# Node / frontend junk
node_modules
dist
build
